<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje usluge</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje usluge: {{data.naziv}}</h3>
  <h3 mat-dialog-title *ngIf="flag == 3">Brisanje usluge: {{data.naziv}}</h3>

  <form class="mat-dialog-content" #formControl="ngForm">
     <div class="form">
      <mat-form-field>
          <input matInput placeholder="naziv" name="naziv" [disabled]="flag==3" [(ngModel)]="data.naziv" required />
      </mat-form-field>
     </div>

     <div class="form">
        <mat-form-field>
            <input matInput placeholder="opisUsluge" name="opisUsluge" [disabled]="flag==3" [(ngModel)]="data.opisUsluge" required />
        </mat-form-field>
       </div>


     <div class="form">
      <mat-form-field>
          <input matInput [matDatepicker]="datumUgovora" placeholder="datumUgovora" name="datumUgovora" [disabled]="flag==3" [(ngModel)]="data.datumUgovora" required >
          <mat-datepicker-toggle matSuffix [for]="datumUgovora"></mat-datepicker-toggle>
          <mat-datepicker #datumUgovora></mat-datepicker>
      </mat-form-field>
     </div>

     <div class="form">
      <mat-form-field>
          <input matInput placeholder="provizija" name="provizija" [disabled]="flag==3" [(ngModel)]="data.provizija" required />
          <span matSuffix>RSD</span>
      </mat-form-field>
     </div>
   <div class="form">
    <mat-select [compareWith]  placeholder="filijala" name="filijala" [disabled]="flag==3" [(ngModel)]="data.filijala" required>
        <mat-option *ngFor="let filijala of filijale" [value]="filijala">
            {{filijala.adresa}}
        </mat-option>
    </mat-select>
</div>

</form>

  <div class="mat-dialog-actions">
      <button matButton *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="addUsluga()">Sačuvaj</button>
      <button matButton *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="updateUsluga()">Modifikuj</button>
      <button matButton *ngIf="flag == 3" mat-dialog-close="1" (click)="deleteUsluga()">Obriši</button>
      <button matButton (click)="cancel()">Poništi</button>
  </div>
</div>
