<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center" routerLink="/home">
        <mat-icon>home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Aplikacija </mat-panel-title>
          <mat-panel-description>
            Aplikacija za vodjenje evidencije o bankama
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-raised-button routerLink="/banka" style="background-color: green;">Banka</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-raised-button routerLink="/korisnik-usluge" style="background-color: rgb(224, 224, 88);">Korisnik usluge</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-raised-button routerLink="/filijala" style="background-color: purple;"
            >Filijala</a
          >
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title style="text-align: left"
            >Informacije</mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button routerLink="/about">O nama</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button routerLink="/author">Autor</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button routerLink="/home">Pocetna</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

