<section class="author-section">
  <div class="background-image">
    <div class="container">
      <h2 class="section-title">O autoru</h2>
      <p class="section-description">
        Autor ove aplikacije je Nikola Ljubičić, student Fakulteta tehničkih nauka u Novom Sadu. Autor je posvećen pružanju najboljih tehnoloških rešenja koja podržavaju potrebe banaka i njihovih klijenata. Njegova stručnost i posvećenost osiguravaju da aplikacija bude pouzdana, sigurna i inovativna.
      </p>
    </div>
  </div>
</section>
